<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.LoginLogsTableMapper">
  <resultMap id="BaseResultMap" type="com.jinlong.uploadmodel.entity.data.LoginLogsTable">
    <id column="logs_id" jdbcType="BIGINT" property="logsId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="login_ip" jdbcType="VARCHAR" property="loginIp" />
  </resultMap>
  <sql id="Base_Column_List">
    logs_id, user_id, login_time, login_ip
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from login_logs_table
    where logs_id = #{logsId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from login_logs_table
    where logs_id = #{logsId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="logs_id" keyProperty="logsId" parameterType="com.jinlong.uploadmodel.entity.data.LoginLogsTable" useGeneratedKeys="true">
    insert into login_logs_table (user_id, login_time, login_ip
      )
    values (#{userId,jdbcType=INTEGER}, #{loginTime,jdbcType=TIMESTAMP}, #{loginIp,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="logs_id" keyProperty="logsId" parameterType="com.jinlong.uploadmodel.entity.data.LoginLogsTable" useGeneratedKeys="true">
    insert into login_logs_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="loginTime != null">
        login_time,
      </if>
      <if test="loginIp != null">
        login_ip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="loginTime != null">
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginIp != null">
        #{loginIp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jinlong.uploadmodel.entity.data.LoginLogsTable">
    update login_logs_table
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="loginTime != null">
        login_time = #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginIp != null">
        login_ip = #{loginIp,jdbcType=VARCHAR},
      </if>
    </set>
    where logs_id = #{logsId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jinlong.uploadmodel.entity.data.LoginLogsTable">
    update login_logs_table
    set user_id = #{userId,jdbcType=INTEGER},
      login_time = #{loginTime,jdbcType=TIMESTAMP},
      login_ip = #{loginIp,jdbcType=VARCHAR}
    where logs_id = #{logsId,jdbcType=BIGINT}
  </update>
</mapper>